@{
    ViewData["Title"] = "Home Page";
}

<h1> Manual do Sistema </h1>
<div class="Detalhamento">
     Projeto de Carlos Andres Ramos Losada Junior para conclusão do curso MS-DEV Samsung Ocean.<br/> 
<h3> Inserção dos Dados do Elevador:</h3>
<div class="Detalhamento">
     Abrindo o Programa ele solicitará quantos andares o elevador poderá percorrer no prédio e qual a capacidade de pessoas que ele comporta     .<br/> 
<div class="DADOS">
        <img height="380px" src="~/Fotos/QntVagas.png">    
</div>
<br />
<h3> Menu: </h3>

<div class="detalhamento">
    No Menu ele informará o Status do elevador como a quantidade de vagas e quantas estão ocupadas,<br /> o andar atual do elevador e quantos ele pode percorrer.   <br/>
    Possui também a lista de comandos e instruções. 


<div class="menu">
    <img height="380px" src="~/Fotos/Menu-Lista de comando-Status.png">

</div>
</div>
<br />
<h3> Subindo Andares:</h3>

<div class="detalhamento">
    Pressionando a <strong> Seta para cima </strong> o programa entende que o elevador deve subir um andar.<br />
    Assim ele imprime na tela o andar em que o elevador se encontra. 
<div class="subir">
    <img height="380px" src="~/Fotos/subindoandar.png">
<div/>    
<br />
<h3> Ultimo Andar:</h3>
<div class="detalhamento">
    Quando o programa atinge o limite de andares predefinido ele imprime na tela que está no ultimo andar, <br/>
    e impede que o Elevador suba mais andares. 
<div class="uAndar">
    <img height="380px" src="~/Fotos/ultimoandar.png">

</div>
<br />
<h3> Descendo Andares:</h3>
<div class="detalhamento">
    Pressionando a <strong> Seta para baixo </strong> o programa entende que o elevador deve descer um andar.<br />
    Assim ele informa imprimindo na tela que está descendo um andar 
<div class="dAndares">
    <img height="380px" src="~/fotos/descendoumandar.png">
</div>

<br />
<h3> Andar Mais Baixo:</h3>
<div class="detalhamento">
    Quando o elevador chega no andar mínimo <strong>(1)</strong>, o programa informa na tela que <br />
    já se encontra no andar mais baixo, e impossibilita o elevador descer mais andares. 
<div class="tAndar">
    <img height="380px" src="~/fotos/andarmaisbaixo.png">


</div>
<br />
<h3> Entrada de Passsageiros:</h3>
<div class="detalhamento">
    Pressionando a <strong> Seta para direita </strong> o programa entende que tem uma pessoa entrando no Elevador.<br />
    Assim ele informa imprimindo na tela que o passageiro entrou.
<div class="ePassageiros">
    <img height="380px" src="~/fotos/entpassageiro.png">

</div>
<br />

<h3> Capacidade Máxima Do Elevador:</h3>
<div class="detalhamento">
    Ao atingir a <strong>Capacidade Máxima</strong> de passageiros o programa impede que mais passageiros entrem,<br />
    informando na tela que o último passageiro entrou e que o elevador se encontra na capacidade máxima.
<div class="mPassageiros">
    <img height="380px" src="~/fotos/NumeroMaximoDePassageiros.png">

</div>
<br />
</div><h3> Saída de passageiro:</h3>
<div class="detalhamento">
    
   Pressionando a <strong> Seta para Esquerda </strong> o programa entende que tem uma pessoa saindo do Elevador.<br />
    Assim ele informa imprimindo na tela que o passageiro saiu.
     
<div class="sPassaeiro">
    <img height="380px" src="~/fotos/saidadepassageiro.png">

</div>
<br />
<h3> Elevador Vazio:</h3>
<div class="detalhamento">  
    Quando não há mais passageiros no Elevador o programa<br>
    informa que o elevador está vazio.
</div>
<div class="eVazio">
    <img height="380px" src="~/fotos/elevadorvazio.png">
</div>
<br />
<h3> Finalização do Programa</h3>
<div class="detalhamento">
  Para finalizar o programa basta pressionar a tecla <strong>esc</strong>
</div>
<div class="shutdown">
    <img height="380px" src="~/fotos/finalizaçãodoprograma.png">

</div>